In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('2024_Olympics_Medal_Predictions.csv')

In [3]:
data

              NOC      Gold    Silver    Bronze     Total
0         Albania  0.000000  0.000000  0.055556  0.027778
1         Algeria  0.132479  0.000000  0.020408  0.044309
2       Argentina  0.045455  0.100000  0.500000  0.215152
3         Armenia  0.000000  0.211111  0.027778  0.079293
4       Australia  1.333886  1.823585  0.825171  1.341082
..            ...       ...       ...       ...       ...
87         Uganda  0.020833  0.020833  0.000000  0.013793
88        Ukraine  0.181090  0.295833  0.151927  0.197955
89  United States  3.326786  3.699681  4.251277  3.774641
90     Uzbekistan  0.631838  0.225000  0.094444  0.269765
91         Zambia  0.000000  0.000000  0.020408  0.006897

[92 rows x 5 columns]

In [4]:
w_g = 10
w_s = 4
w_b = 2

In [5]:
weighted_score = w_g * data['Gold'] + w_s * data['Silver'] + w_b * data['Bronze']
data['Weighted Score'] = weighted_score
data = data.sort_values(by='Weighted Score', ascending=False, ignore_index=True)

In [6]:
data

,NOC,Gold,Silver,Bronze,Total,Weighted Score
0,China,5.076111,3.350849,1.925100,3.435164,68.014708
1,United States,3.326786,3.699681,4.251277,3.774641,56.569141
2,France*,2.231972,4.212359,2.359547,2.937740,43.888248
3,Japan,1.998611,1.973538,1.641520,1.827522,31.163304
4,Great Britain,1.491944,2.000393,2.876183,2.121701,28.673379
...,...,...,...,...,...,...
87,Grenada,0.000000,0.000000,0.040816,0.013793,0.081633
88,Refugee Olympic Team,0.000000,0.000000,0.038462,0.019231,0.076923
89,Cape Verde,0.000000,0.000000,0.038462,0.019231,0.076923
90,Qatar,0.000000,0.000000,0.020408,0.006897,0.040816
91,Zambia,0.000000,0.000000,0.020408,0.006897,0.040816

In [7]:
data.at[2, "NOC"] = "France"

In [8]:
data

,NOC,Gold,Silver,Bronze,Total,Weighted Score
0,China,5.076111,3.350849,1.925100,3.435164,68.014708
1,United States,3.326786,3.699681,4.251277,3.774641,56.569141
2,France,2.231972,4.212359,2.359547,2.937740,43.888248
3,Japan,1.998611,1.973538,1.641520,1.827522,31.163304
4,Great Britain,1.491944,2.000393,2.876183,2.121701,28.673379
...,...,...,...,...,...,...
87,Grenada,0.000000,0.000000,0.040816,0.013793,0.081633
88,Refugee Olympic Team,0.000000,0.000000,0.038462,0.019231,0.076923
89,Cape Verde,0.000000,0.000000,0.038462,0.019231,0.076923
90,Qatar,0.000000,0.000000,0.020408,0.006897,0.040816
91,Zambia,0.000000,0.000000,0.020408,0.006897,0.040816

In [9]:
data.drop(data.loc[data['NOC'] == 'Individual Neutral Athletes'].index, inplace=True)

In [10]:
# change this to total gdp, if you divide by per capita, you will multiply by the population
# so divide by gdp and population (and HDI)
# just replace file
gdp = pd.read_csv('gdp_total_and_pop.csv')
gdp

,Country Name,Series Name,2023 [YR2023]
0,Afghanistan,"GDP, PPP (current international $)",..
1,Afghanistan,"Population, total",42239854
2,Africa Eastern and Southern,"GDP, PPP (current international $)",3.29625E+12
3,Africa Eastern and Southern,"Population, total",739108306
4,Africa Western and Central,"GDP, PPP (current international $)",2.70982E+12
...,...,...,...
529,"Yemen, Rep.","Population, total",34449825
530,Zambia,"GDP, PPP (current international $)",84863032638
531,Zambia,"Population, total",20569737
532,Zimbabwe,"GDP, PPP (current international $)",64993415785
533,Zimbabwe,"Population, total",16665409

In [11]:
gdp_ppp = gdp[gdp['Series Name'] == 'GDP, PPP (current international $)']
population = gdp[gdp['Series Name'] == 'Population, total']

In [12]:
gdp_ppp.reset_index(inplace=True, drop=True)
gdp_ppp

,Country Name,Series Name,2023 [YR2023]
0,Afghanistan,"GDP, PPP (current international $)",..
1,Africa Eastern and Southern,"GDP, PPP (current international $)",3.29625E+12
2,Africa Western and Central,"GDP, PPP (current international $)",2.70982E+12
3,Albania,"GDP, PPP (current international $)",58750963483
4,Algeria,"GDP, PPP (current international $)",7.7654E+11
...,...,...,...
261,West Bank and Gaza,"GDP, PPP (current international $)",30418120122
262,World,"GDP, PPP (current international $)",1.84654E+14
263,"Yemen, Rep.","GDP, PPP (current international $)",..
264,Zambia,"GDP, PPP (current international $)",84863032638
265,Zimbabwe,"GDP, PPP (current international $)",64993415785

In [13]:
population.reset_index(inplace=True, drop=True)
population

                    Country Name        Series Name 2023 [YR2023]
0                    Afghanistan  Population, total      42239854
1    Africa Eastern and Southern  Population, total     739108306
2     Africa Western and Central  Population, total     502789511
3                        Albania  Population, total       2745972
4                        Algeria  Population, total      45606480
..                           ...                ...           ...
261           West Bank and Gaza  Population, total       5165775
262                        World  Population, total    8024997028
263                  Yemen, Rep.  Population, total      34449825
264                       Zambia  Population, total      20569737
265                     Zimbabwe  Population, total      16665409

[266 rows x 3 columns]

In [14]:
countries = data['NOC']
countries

0                    China
1            United States
2                   France
3                    Japan
4            Great Britain
              ...
87                 Grenada
88    Refugee Olympic Team
89              Cape Verde
90                   Qatar
91                  Zambia
Name: NOC, Length: 91, dtype: object

In [15]:
gdp_countries = gdp_ppp['Country Name']

In [16]:
missing_gdp = []
for c in countries:
    if c not in gdp_countries.values:
        print(c)
        missing_gdp.append(c)

Great Britain
South Korea
Egypt
Iran
Czech Republic
Chinese Taipei
Hong Kong
North Korea
Turkey
Kyrgyzstan
Saint Lucia
Ivory Coast
Slovakia
Refugee Olympic Team
Cape Verde

In [17]:
gdp_ppp.iloc[103]

Country Name                   Hong Kong SAR, China
Series Name      GDP, PPP (current international $)
2023 [YR2023]                           5.38692E+11
Name: 103, dtype: object

In [18]:
gdp_ppp.at[252, 'Country Name'] = 'Great Britain'
gdp_ppp.at[125, 'Country Name'] = 'North Korea'
gdp_ppp.at[126, 'Country Name'] = 'South Korea'
gdp_ppp.at[67, 'Country Name'] = 'Egypt'
gdp_ppp.at[113, 'Country Name'] = 'Iran'
gdp_ppp.at[57, 'Country Name'] = 'Czech Republic'
# No data for Chinese Taipei/Taiwan
gdp_ppp.at[103, 'Country Name'] = 'Hong Kong'
gdp_ppp.at[245, 'Country Name'] = 'Turkey'
gdp_ppp.at[129, 'Country Name'] = 'Kyrgyzstan'
gdp_ppp.at[226, 'Country Name'] = 'Saint Lucia'
gdp_ppp.at[52, 'Country Name'] = 'Ivory Coast'
gdp_ppp.at[214, 'Country Name'] = 'Slovakia'
# Refugee Olympic Team will get minimum GDP
gdp_ppp.at[35, 'Country Name'] = 'Cape Verde'

population.at[252, 'Country Name'] = 'Great Britain'
population.at[125, 'Country Name'] = 'North Korea'
population.at[126, 'Country Name'] = 'South Korea'
population.at[67, 'Country Name'] = 'Egypt'
population.at[113, 'Country Name'] = 'Iran'
population.at[57, 'Country Name'] = 'Czech Republic'
# No data for Chinese Taipei/Taiwan
population.at[103, 'Country Name'] = 'Hong Kong'
population.at[245, 'Country Name'] = 'Turkey'
population.at[129, 'Country Name'] = 'Kyrgyzstan'
population.at[226, 'Country Name'] = 'Saint Lucia'
population.at[52, 'Country Name'] = 'Ivory Coast'
population.at[214, 'Country Name'] = 'Slovakia'
# Refugee Olympic Team will get minimum population
population.at[35, 'Country Name'] = 'Cape Verde'

In [19]:
gdp_countries = gdp_ppp['Country Name']
missing_gdp = []
for c in countries:
    if c not in gdp_countries.values:
        print(c)
        missing_gdp.append(c)

Chinese Taipei
Refugee Olympic Team

In [20]:
hdi = pd.read_excel('HDR23-24_Statistical_Annex_HDI_Table.xlsx')
hdi.drop(columns=['HDI rank'], inplace=True)
hdi

                      Country  Value
0                 Switzerland  0.967
1                      Norway  0.966
2                     Iceland  0.959
3      Hong Kong, China (SAR)  0.956
4                     Denmark  0.952
..                        ...    ...
188                      Chad  0.394
189                     Niger  0.394
190  Central African Republic  0.387
191               South Sudan  0.381
192                   Somalia  0.380

[193 rows x 2 columns]

In [21]:
hdi_countries = hdi['Country']
missing_hdi = []
for c in countries:
    if c not in hdi_countries.values:
        print(c)
        missing_hdi.append(c)

Great Britain
South Korea
Iran
Czech Republic
Chinese Taipei
Hong Kong
North Korea
Turkey
Moldova
Kosovo
Ivory Coast
Puerto Rico
Refugee Olympic Team
Cape Verde

In [22]:
hdi.iloc[130]

Country    Cabo Verde
Value           0.661
Name: 130, dtype: object

In [23]:
hdi.at[14, 'Country'] = 'Great Britain'
hdi.at[18, 'Country'] = 'South Korea'
hdi.at[77, 'Country'] = 'Iran'
hdi.at[31, 'Country'] = 'Czech Republic'
# no data for Chinese Taipei/Taiwan
hdi.at[3, 'Country'] = 'Hong Kong'
# no data for North Korea
hdi.at[45, 'Country'] = 'Turkey'
hdi.at[85, 'Country'] = 'Moldova'
# no data for Kosovo
hdi.at[165, 'Country'] = 'Ivory Coast'
# no data for Puerto Rico
# no data for Refugee Olympic Team, will get lowest
hdi.at[130, 'Country'] = 'Cape Verde'

In [24]:
# Merge GDP (PPP) data
data = data.merge(gdp_ppp[['Country Name', '2023 [YR2023]']], left_on='NOC', right_on='Country Name', how='left')
data.rename(columns={'2023 [YR2023]': 'GDP (PPP)'}, inplace=True)

# Merge population data
data = data.merge(population[['Country Name', '2023 [YR2023]']], left_on='NOC', right_on='Country Name', how='left')
data.rename(columns={'2023 [YR2023]': 'Population'}, inplace=True)

# Merge HDI data
data = data.merge(hdi[['Country', 'Value']], left_on='NOC', right_on='Country', how='left')
data.rename(columns={'Value': 'HDI'}, inplace=True)

# Drop unnecessary columns
data.drop(columns=['Country Name_x', 'Country Name_y', 'Country'], inplace=True)

# Print the updated data
data

,NOC,Gold,Silver,Bronze,Total,Weighted Score,GDP (PPP),Population,HDI
0,China,5.076111,3.350849,1.925100,3.435164,68.014708,3.46437E+13,1410710000,0.788
1,United States,3.326786,3.699681,4.251277,3.774641,56.569141,2.73609E+13,334914895,0.927
2,France,2.231972,4.212359,2.359547,2.937740,43.888248,4.16907E+12,68170228,0.910
3,Japan,1.998611,1.973538,1.641520,1.827522,31.163304,6.25156E+12,124516650,0.920
4,Great Britain,1.491944,2.000393,2.876183,2.121701,28.673379,4.02624E+12,68350000,0.940
...,...,...,...,...,...,...,...,...,...
86,Grenada,0.000000,0.000000,0.040816,0.013793,0.081633,2227647009,126183,0.793
87,Refugee Olympic Team,0.000000,0.000000,0.038462,0.019231,0.076923,NaN,NaN,NaN
88,Cape Verde,0.000000,0.000000,0.038462,0.019231,0.076923,5439764468,598682,0.661
89,Qatar,0.000000,0.000000,0.020408,0.006897,0.040816,..,2716391,0.875
90,Zambia,0.000000,0.000000,0.020408,0.006897,0.040816,84863032638,20569737,0.569

In [37]:
data[data.isna().any(axis=1)]

Empty DataFrame
Columns: [NOC, Gold, Silver, Bronze, Total, Weighted Score, GDP (PPP), Population, HDI]
Index: []

In [32]:
data['Population'] = data['Population'].astype(float)
data['GDP (PPP)'] = pd.to_numeric(data['GDP (PPP)'], errors='coerce')

In [36]:
# taiwan
data.at[28, 'HDI'] = 0.926
data.at[28, 'Population'] = 23196178
data.at[28, 'GDP (PPP)'] = 1.77e12

# north korea
data.at[43, 'GDP (PPP)'] = 300e9
# give average value for HDI
data.at[43, 'HDI'] = hdi['Value'].mean()

# kosovo
data.at[71, 'HDI'] = 0.762

# puerto rico
data.at[85, 'HDI'] = 0.880

# refugee olympic team
# give minimum hdi
data.at[87, 'HDI'] = hdi['Value'].min()
# give average population
data.at[87, 'Population'] = data['Population'].mean()
# give minimum gdp
data.at[87, 'GDP (PPP)'] = data['GDP (PPP)'].min()

# cuba
data.at[39, 'GDP (PPP)'] = 810544740108

# qatar
data.at[89, 'GDP (PPP)'] = 337.52e9

In [38]:
data

,NOC,Gold,Silver,Bronze,Total,Weighted Score,GDP (PPP),Population,HDI
0,China,5.076111,3.350849,1.925100,3.435164,68.014708,3.464370e+13,1.410710e+09,0.788
1,United States,3.326786,3.699681,4.251277,3.774641,56.569141,2.736090e+13,3.349149e+08,0.927
2,France,2.231972,4.212359,2.359547,2.937740,43.888248,4.169070e+12,6.817023e+07,0.910
3,Japan,1.998611,1.973538,1.641520,1.827522,31.163304,6.251560e+12,1.245166e+08,0.920
4,Great Britain,1.491944,2.000393,2.876183,2.121701,28.673379,4.026240e+12,6.835000e+07,0.940
...,...,...,...,...,...,...,...,...,...
86,Grenada,0.000000,0.000000,0.040816,0.013793,0.081633,2.227647e+09,1.261830e+05,0.793
87,Refugee Olympic Team,0.000000,0.000000,0.038462,0.019231,0.076923,1.285405e+09,6.902907e+07,0.380
88,Cape Verde,0.000000,0.000000,0.038462,0.019231,0.076923,5.439764e+09,5.986820e+05,0.661
89,Qatar,0.000000,0.000000,0.020408,0.006897,0.040816,3.375200e+11,2.716391e+06,0.875
90,Zambia,0.000000,0.000000,0.020408,0.006897,0.040816,8.486303e+10,2.056974e+07,0.569

$\frac{10^{20}\times\text{score}}{\text{GDP}\times\text{Population}\times\text{HDI}^2}$

In [57]:
data.dtypes

NOC                object
Gold              float64
Silver            float64
Bronze            float64
Total             float64
Weighted Score    float64
GDP (PPP)         float64
Population        float64
HDI               float64
Total Score       float64
dtype: object

In [78]:
from math import floor
scale = 1e8
p =6
totalScore = scale*data['Weighted Score']/(np.log(data['GDP (PPP)'])*np.log(data['Population'])*np.floor(10*data['HDI'])**p)
totalScore

0     88.020169
1     17.526515
2     15.755784
3     10.677121
4     10.304538
        ...
86     0.274459
87    27.871651
88     0.552890
89     0.039593
90     0.616459
Length: 91, dtype: float64

In [79]:
data['Total Score'] = totalScore
data.sort_values(by='Total Score', ascending=False, ignore_index=True)

,NOC,Gold,Silver,Bronze,Total,Weighted Score,GDP (PPP),Population,HDI,Total Score
0,China,5.076111,3.350849,1.925100,3.435164,68.014708,3.464370e+13,1.410710e+09,0.788,88.020169
1,Refugee Olympic Team,0.000000,0.000000,0.038462,0.019231,0.076923,1.285405e+09,6.902907e+07,0.380,27.871651
2,Ethiopia,0.020833,0.062500,0.000000,0.027586,0.458333,3.934080e+11,1.265271e+08,0.492,22.465866
3,Brazil,0.372222,1.261111,1.490668,1.057409,11.748003,4.454930e+12,2.164224e+08,0.760,17.863738
4,United States,3.326786,3.699681,4.251277,3.774641,56.569141,2.736090e+13,3.349149e+08,0.927,17.526515
...,...,...,...,...,...,...,...,...,...,...
86,Cyprus,0.000000,0.100000,0.000000,0.033333,0.400000,5.303314e+10,1.260138e+06,0.907,0.216988
87,Slovakia,0.000000,0.000000,0.058824,0.020408,0.117647,2.423050e+11,5.426740e+06,0.855,0.110406
88,Puerto Rico,0.000000,0.000000,0.048186,0.020785,0.096372,1.529100e+11,3.205691e+06,0.880,0.095292
89,Singapore,0.000000,0.000000,0.100000,0.033333,0.200000,8.373480e+11,5.917648e+06,0.949,0.087909
90,Qatar,0.000000,0.000000,0.020408,0.006897,0.040816,3.375200e+11,2.716391e+06,0.875,0.039593

In [80]:
data.loc[data['NOC'] == 'India']

,NOC,Gold,Silver,Bronze,Total,Weighted Score,GDP (PPP),Population,HDI,Total Score
50,India,0.0,0.020833,0.727778,0.254119,1.538889,1.453740e+13,1.428628e+09,0.644,5.162689

In [77]:
data.to_csv('Results_loglogp6.csv', index=False)